// SETUP
@import 'setup/typography';
@import 'setup/functions';
@import 'setup/vars';
@import 'setup/mixins';

// BASICS
@import 'basics/base';
@import 'basics/helpers';
@import 'basics/layout';

// PAGES


// COMPONENTS
@import 'components/app-header';
@import 'components/hamburger-menu';
@import 'components/hero';
@import 'components/swiper-container';
@import 'components/card';
@import 'components/popular-res-container';
@import 'components/signature-dish-container';
@import 'components/our-icons';
@import 'components/chef-of-the-week';
@import 'components/about-us';
@import 'components/footer';



  
  
  