    .header-container {
        height: 46px;
        margin-inline: 20px;
        justify-content: space-between;
        transition: .3s;

        .open-burger {
            background: transparent;

            @include for-narrow-layout {
                display: none;
            }
        }

        .logo {
            position: absolute;
            right: 50%;
            translate: (50%);
            top: 6px;


        }

        .nav-bar {
            gap: 20px;
        }

        .left-nav-bar {
            display: none;
        }

        @include for-narrow-layout {
            margin-inline-start: 60px;
            margin-inline-end: 20px;
            height: 64px;
            align-items: center;

            .hamburger {
                display: none;
            }

            .logo {
                position: static;
                margin-inline-end: 25px;
                margin-inline-start: 0px;
            }

            .left-nav-bar {
                display: flex;

                .main-title {
                    font-weight: 200;
                    font-size: 27px;
                    margin-inline-end: 32px;
                }

                .secondary-title {
                    font-weight: 200;
                    font-size: 18px;
                    margin-inline-end: 32px;
                }
            }
        }


        @include for-desktop-layout {
            margin-inline: 130px;
            // justify-content: space-between;

            .logo {
                margin-inline-start: 0;
            }

            .main-title {
                font-weight: 200;
                font-size: 27px;
                margin-inline-end: 32px;
            }

            .secondary-title {
                font-weight: 200;
                font-size: 18px;
                margin-inline-end: 32px;
            }
        }
    }