.header-container {
    height: 46px;
    margin-inline: 20px;
    justify-content: space-between;
    transition: .3s;

    .open-burger {
        background: transparent;
    }

    .logo {
        margin-inline-start: 127px;
        margin-inline-end: 51px;
    }

    .nav-bar {
        gap: 20px;
    }

    .left-nav-bar {
        display: none;
    }

    @include for-narrow-layout {
        margin-inline-start: 60px;
        margin-inline-end: 20px;
        height: 64px;

        .hamburger {
            display: none;
        }

        .logo {
            margin-inline-end: 15px;
            margin-inline-start: 0px;
        }


        .left-nav-bar {
            display: flex;

            .main-title {
                font-weight: 200;
                font-size: 27px;
                margin-inline-end: 32px;
            }

            .secondary-title {
                font-weight: 200;
                font-size: 18px;
                margin-inline-end: 32px;
            }
        }
    }


    @include for-desktop-layout {
        margin-inline: 127px;

        .logo {
            margin-inline-start: 0;
        }

        .main-title {
            font-weight: 200;
            font-size: 27px;
            margin-inline-end: 32px;
        }

        .secondary-title {
            font-weight: 200;
            font-size: 18px;
            margin-inline-end: 32px;
        }

    }
}