.chef-of-the-week-section {
    display: flex;
    flex-direction: column;
    margin-inline: 20px;
    align-items: center;

    .chef-of-the-week-title {
        font-weight: 200;
        font-size: $font-small18;
        line-height: 35px;
        letter-spacing: $mobile-small-ls;
        margin-bottom: 16px;
        margin-top: 48px;
        
        
        @media(min-width:800px) {
            font-size: $font-large30;
            margin-bottom: 40px;

        }


    }

    .secondary-info {
        @media(min-width:800px) {
            flex-direction: row;
            gap: 63px;
            justify-content: center;
            align-items: flex-start;
        }
        
        
        .chef-image {
            position: relative;
            
            img {
                @media(min-width:800px) {
                    width: 478px;
                }
            }
        }

        .chef-name {
            position: absolute;
            text-align: center;
            background-color: #fff;
            opacity: .8;
            width: 100%;
            height: 51px;
            bottom: 0;
            justify-content: center;
            align-self: center;
            display: flex;

            @media(min-width:800px) {
                height: 78px;

            }
            

            .chef-name-span {
                justify-content: center;
                align-items: center;
                // margin-block: 15px;
                font-weight: 400;
                text-transform: capitalize;
                font-size: $font-small18;
                line-height: 47px;
                letter-spacing: $desktop-ls;


                @media(min-width:800px) {
                    margin-top: 15px;

                }

                @media(min-width:1000px) {
                    font-size: $font-large40;
    
                }
            }
        }

        .chef-info {
            margin-top: 24px;
            font-size: $font-small18;
            font-weight: 200;
            line-height: 28px;
            letter-spacing: $mobile-small-ls;
            width: 335px;

            @media(min-width:800px) {
                width: 650px;
                margin-top: 0;
            }


        }
    }
}