.swiper-container {
    margin-inline-start: 20px;
    width: 100%;

    @include for-narrow-layout {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        margin-inline-start: 20px;
        margin-block-end: 40px;
    }

    overflow-x: hidden;

    .swiper-slide {
        min-width: 245px;
        max-width: 379px;
        min-height: 233px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-swiper-title {
        margin-block-start: 48px;
        margin-block-end: 17px;
        font-weight: 200;
        font-size: $font-small18;
        text-transform: uppercase;

        @include for-narrow-layout {
            text-align: center;
            margin-inline-start: 0;
            font-size: $font-large30;
            margin-block-end: 40px;
            text-transform: lowercase;
            text-transform: capitalize;
        }
    }

    .all-res-container {
        margin-block-start: 18.2px;
        display: flex;
        gap: 12px;

        @media (min-width:1280px) {
            justify-content: flex-end;
            margin-inline-end: 22px;
        }

        .all-restaurants-link {
            font-weight: 400;
            font-size: $font-small16;
            line-height: 35px;
            letter-spacing: 2px;
        }
    }
}
.swiper-chef-of-the-week {
    margin-inline-start: 0;
}