$primary-black-clr:#000000 ;
$primary-gray-clr:#979797;
$secondary-light-yellow-clr:#F9F4EA;
$secondary-yellow-clr:#F5BE00;
$secondary-gray-clr:#FAFAFA;
 

// $btn-clr: ;

$break-mobile: 375px;
// $break-small: 540px;
// $break-narrow: 870px;
// $break-normal: 1000px;


//border-radius
// $el-br: ;
