$primary-black-clr:#000000 ;
$primary-gray-clr:#979797;
$secondary-light-yellow-clr:#F9F4EA;
$secondary-yellow-clr:#F5BE00;
$secondary-gray-clr:#FAFAFA;
 


// 
$break-small: 375px;
$break-narrow: 600px;
$break-desktop: 900px;
// $break-desktop: 1000px;


//border-radius
// $el-br: ;


//fontsize
$font-small:12px;
$font-small16:16px;
$font-small18:18px;
$font-medium:24px;
$font-large:28px;
$font-large30:30px;
$font-large32:32px;
$font-large40:40px;

// letter
$mobile-small-ls:1.25px;
$mobile-ls:1.97px;
$desktop-ls:2.67px;