$primary-black-clr:#000000 ;
$primary-gray-clr:#979797;
$secondary-light-yellow-clr:#F9F4EA;
$secondary-yellow-clr:#F5BE00;
$secondary-gray-clr:#FAFAFA;
 


// $break-mobile: 375px;
$break-small: 375px;
// $break-small: 600px;
// $break-narrow: 900px;
$break-narrow: 600px;
$break-desktop: 900px;
// $break-desktop: 1000px;


//border-radius
// $el-br: ;
